@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap");

.App {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  width: 100%;
  height: 100vh;
  display: flex;
}

button {
  width: 200px;
  height: 50px;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  font-family: epilogue;
}

button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem #fc5c7d,
    0.125rem 0.125rem 1rem #6a82fb;
}

button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem #fc5c7d,
    0.125rem 0.125rem 1rem #6a82fb;
}

.quizContainer,
.startquiz {
  width: 80%;
  height: 600px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  border-radius: 15px;
  font-family: epilogue;
  text-align: center;
  line-height: 40px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.startquiz h2 {
  font-size: 2.5em;
  width: 50%;
  line-height: 60px;
}

.questionBox {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px; 
  
}

.answerGrid {
  width: 100%;
  min-height: 220px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
}

.answerGrid div {
  height: 100px;
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.questionBox h2 {
  font-size: 1.8em;
  width: 80%;
}

.questionBox div:hover {
  cursor: pointer;
}

.incorrect {
  opacity: 0.01;
}

.scoreboard p {
  font-size: 1.8em;
  font-weight: bold;
  width: 80%;
  margin: 30px auto;

}

@media (max-width: 468px) {
  .quizContainer,
  .startquiz {
    width: 95%;
    height: 95vh;
    margin: auto;
    justify-content: center;
  }
  .startquiz h3 {
    font-size: 1.5em;
    width: 80%;
  }
  .questionBox {
    height: 95%;
  }
  .answerGrid {
      grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .answerGrid div {
      height: 60px;
    }
    .scoreboard p,
    .questionBox h2 {
      font-size: 1.8em;
      width: 100%; 
      font-weight: bold;  
    }
    .questionsLeft {
      margin-top: 40px;
      font-size: 1.3em;
      
    }
    button {
      width: 250px;
      height: 80px;
      font-size: 2em;
      margin-top: 20px;
    } 
}



